@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

/* Master Styles */
html, body {
  /* Center everything horizontally and vertically.*/
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  display: table-cell;
  vertical-align: middle;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}


/*----------------------------------*/
/*
Grid layout
*/

.times-dates {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr .5fr 1fr;
    grid-template-columns: 1fr .5fr 1fr .5fr 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas:
    "t1 .  t2 .  t3 ."
    "a1 a2 a3 a4 a5 a6"
    "f1 .  f2 .  f3 ."
    ".  .  .  .  .  ."
    "j  j  j  j  j  ."
    "h  h  h  h  h  .";
    text-align: center;
    }
/*
t = timer
a = alterclock
f = 24-hour
j = julian year
h = holcene year
*/

.timer1 {grid-area: t1;}
.timer2 {grid-area: t2;}
.timer3 {grid-area: t3;}

.alterclock1 {grid-area: a1;}
.alterclock2 {grid-area: a2;}
.alterclock3 {grid-area: a3;}
.alterclock4 {grid-area: a4;}
.alterclock5 {grid-area: a5;}
.alterclock6 {grid-area: a6;}

.twentyfour-hour1 {grid-area: f1;}
.twentyfour-hour2 {grid-area: f2;}
.twentyfour-hour3 {grid-area: f3;}

.julian {grid-area: j;}
.holocene {grid-area: h;}

/*----------------------------------*/

.x-large {
    font-size: x-large;
}

.smaller {
    font-size: smaller;
}

.svg {
  display: block;
  height: 20px;
  margin: 0 auto;
  position: relative;
  stroke-width: 30px;
  width: 20px;
}

.ring {
    fill: none;
    stroke: blueviolet;
    z-index: 0;
}

.center {
    fill: white;
    stroke: white;
    stroke-width: 125px;
    z-index: 5;
}

/*----------------------------------*/

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
